.sale {
    -fx-padding: 8 11 11 11;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #0081ff 0%, #0081ff 100%),
    #0081ff,
    #05bef3,
    radial-gradient(center 50% 50%, radius 100%, #0081ff, #05bef3);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;

}

.sale:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #0081ff 0%, #05bef3 100%),
    #05bef3,
    #05bef3,
    radial-gradient(center 50% 50%, radius 100%, #0081ff, #05bef3);
}

.sale:pressed {
    -fx-padding: 10, 12, 10, 12;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}